html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  background-color: #ADE9E5;
}

textarea {
  height: 250px;
}

h3 {
  margin-top: 0;
  margin-left: 100px;
  font-size: 35px;
  font-palette: dark;
  text-align: left;
}

h4 {
  margin-top: 0;
  margin-left: 150px;
  font-size: 25px;
  font-palette: light;
  text-align: left;
}
